.form {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
}

#search-input {
   max-width: 250px;
}

.row {
    margin-top: 50px;
}

.apply-button, .discard-button{
    margin: 10px 15px;
}

.criterion {
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}

#category-input, #price-input  {
    display: block;
    width: 250px;
    border-radius: 5px;
}